
<form [formGroup]="mainForm" (ngSubmit)="onSubmit()" novalidate>
    <h2 mat-dialog-title>{{ data.title }}</h2>
    <mat-dialog-content class="mb-2">

        <div class="form-group">
            <label>Category name</label>
            <input type="text" class="form-control input-lg" placeholder="My category"
                formControlName="name" />
        </div>

    </mat-dialog-content>
    <mat-dialog-actions class="mb-1">
    <button class="btn btn-primary" type="submit">Add to menu</button>
    <button class="btn btn-outline-secondary ml-2" [mat-dialog-close]="false">Cancel</button>    
    </mat-dialog-actions>
</form>