h4 {
    font-weight: 300;
}

.box {
    //height: 200px;
    min-height: 200px;
}

.stat-box {
    h4 {
        margin-bottom: 0px;
        font-size: 1.8rem;
    }

    font-size: 1.2rem;
}

.latest-block {
    h6 {
        font-size: 0.6rem;
    }

    .font-sm {
        font-size: 0.8rem;
    }
}

.show-date {
    min-width: 80px;
}