<div class="d-flex" *ngIf="!passwordVisible">
    <input type="password" class="form-control input-lg" [ngModel]="selectedPassword" (ngModelChange)="passwordModelChanged.next($event)" autocomplete="new-password" [ngClass]="cssClass" />
    <div class="visible-icon bg-white" (click)="changeVisible(true)">
        <i class="far fa-eye"></i>
    </div>    
</div>

<div class="d-flex" *ngIf="passwordVisible">
    <input type="text" class="form-control input-lg" [ngModel]="selectedPassword" (ngModelChange)="passwordModelChanged.next($event)" [ngClass]="cssClass" />
    <div class="visible-icon bg-white" (click)="changeVisible(false)">
        <i class="far fa-eye-slash"></i>
    </div>
</div>

<div class="text-primary ml-2 mt-2 pointer" style="font-size: .8rem;" (click)="generatePassword()">Generate password</div>
