$light-gray: #808690;
$primary-blue: #007bff;

/**
  * Components
  */
.component {
  &:hover {
    border-color: #5aa4f4 !important;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.label-component-position {
  position: absolute;
  margin-top: -18px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 60px;
  color: $light-gray;
  background: #fff;
  font-size: 0.8em;
}

.remove-component-position {
  display: none;
  position: absolute;
  right: 4px;
  margin-top: -22px;
}

.move-button-position {
  @extend .remove-component-position;
  margin-left: -60px;
}

.remove-component {
  width: 26px;
  height: 26px;
  font-size: 0.9em;
}

.add-components {
  width: 40px;
  height: 40px;
}

.popup-element-box {
  display: none;
  position: absolute;
  background: #fff;
  margin-top: 45px;
  width: 350px;
}

.popup-element-arrow {
  width: 20px;
  height: 20px;
  background: #fff;
  position: absolute;
  margin-left: 158px;
  margin-top: -18px;
  transform: rotate(45deg);
}

