.show-children {
    background: transparent;

    .show-children--desc {
        font-size: 0.9rem;
    }
}

/*
    &:hover {
        background: #3a8ac9;
        color: #fff;

        a {
            color: #fff;
        }
    }
*/
