<div class="p-5">
    <div class="d-flex justify-content-center">
        <div class="w-50">
            <small>Select form</small>

            <ng-container *ngIf="!loading">
                <ng-container *ngIf="forms.length > 0">
                    <select class="form-control form-control-sm" [(ngModel)]="form_id" [ngModelOptions]="{standalone: true}" (change)="dataChange()">
                        <option *ngFor="let f of forms" value="{{ f._id }}">{{ f.name }}</option>
                    </select>
                </ng-container>
                <ng-container *ngIf="forms.length == 0">
                    <select class="form-control form-control-sm">
                        <option>-- No forms available --</option>
                    </select>
                </ng-container>
            </ng-container>
        </div>        
    </div>
    
</div>
